
<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>
<body>

<div class="container" >
    <br>
    <h1 style="color: white;">Artigos</h1>
    <a class="btn btn-dark" href="/admin/newArticle">Criar novo Artigo</a>
    <br>

    <table class="table table-bordered table-striped table-hover"><br>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Acao</th>
            </tr>
        </thead>

        <tbody> 

            <% articles.forEach(article =>  { %>
                <tr>
                    <td> <%= article.id %> </td>
                    <td><%= article.title %></td>
                    <td><%= article.slog %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <form method="post" action="/admin/delet/article" onsubmit="delet(event, this)" >
                            <input style="display: inline;" type="hidden" name="id" value="<%= article.id %>">
                            <button style="display: inline;"  class="btn btn-danger">Deletar</button>
                        </form>
                        <a  class="btn btn-warning" href="/admin/uptade/<%= article.id %>">Editar</a>
                    </td>
                </tr>
                
            <% }) %>
        </tbody>
    </table>
</div>

</body>


</html>

<style>

    body{
        background-color: #0c0c0e;
    }

    .table{
        background-color: white;
        box-shadow: 2px 3px 10px #5b3992;
    }

    form{
        display: inline;
        margin: auto;
        padding: auto;
        align-items: baseline;
    }
</style>



<script>

function delet(event, form){
    event.preventDefault()
    var conf = confirm("Voce tem certeza que deseja deletar este artigo ?")
    if(conf){
        form.submit()
    }
}

</script>
