<%- include('../../partials/header.ejs') %>

<%- include('../../partials/navbar.ejs') %>

<body>
    


<div class="container">
    <a class="btn btn-dark mt-4" href="/admin/create/user">Criar novo Usuario</a>
    <table class="table table-bordered table-striped table-hover mt-5">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user =>{ %>
                <tr>
                    <th><%= user.id %></th>
                    <th><%= user.email %></th>
                </tr>
        <% }) %>
        </tbody>
        
    </table>
</div>

</body>

<%- include('../../partials/footer.ejs') %>