<%- include('partials/header.ejs') %>
<%- include('partials/Home-navbar.ejs') %>

<body>
    
    <div class="container">

        <h1 style="text-align: center; color: #000;">Ola bem-vindo</h1>
        <p class="h4" style="text-align: center; color: #000;">Este e um blog feito para programadores criarem duvidas e sanarem duvidas!!</p>
        
        <% articles.forEach(article => { %>
            <br>
            <div class="card p-3 shadow" style="display: flex; background-color: white; ">
                <div class="card-header" style="text-align: center; background-color: rgba(218, 214, 214, 0.938); ">
                    <h1><%= article.title %> </h1>    
                </div>
                <div class="card-body" style=" background-color: rgb(241, 244, 247);">
                    <a href="/<%= article.slog %>" type="button" class="btn btn btn-outline-secondary m-2">Ler mais</a>
                </div>

            </div>
        
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <br>
                <a style="float: right;" href="/articles/page/2"><img src="https://img.icons8.com/ios-glyphs/45/000000/circled-chevron-right.png"/></a> 
                <br>
            </div>
            <hr>
        </div>
    </div>

</body>


<style>

    body{
        background-color: rgb(42, 43, 53);
    }

</style>

<%- include('partials/footer.ejs') %>